/*Nav-content*/
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--fg);
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  column-gap: 2.5rem;
}

/*Hero-Conentet*/
.hero {
  text-align: center;
  
}
.hero h1 {
  margin-top: 10rem; 
  font-size: 5rem;
}


/*Main content*/
.main-content {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 column-gap: 2rem;
 margin-top: 15rem;
 margin-bottom: 10rem;
}

.projects-list {
  display: flex;
  flex-direction: column;
  padding: 1rem; 
  row-gap: 1rem;
}


/*Reviews*/
.reviews {
  display: flex;
  justify-content: center; /* eje principal: horizontal */
  align-items: center;     /* eje transversal: vertical */
  column-gap: 1rem;
}

footer {
  margin-top: 10rem;
  text-align: center;
}
